@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #181818;
}

.container {
  max-width: 1080px;
  width: 90%;
  margin-inline: auto;
}

button {
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 20px;
}
